.main-chart-wrapper {
  padding-top: 25px;
  overflow-x:auto
  
}

.main-chart-wrapper > h1 {
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
}


table, th, td {
 border: 1px solid black;
 border-collapse: collapse;

}
th, td {
 text-align: center;
 font-size: 22px;  
}


.number {

}
.timestamp {
  text-align: center;
  padding-top: 130px;
  color: #f7931a;
  font-family: 'Share Tech Mono', monospace;
}

#canvas {
  padding-top: 20px;
  max-height: 60vh;
}
.number {
  font-family: 'Share Tech Mono', monospace;
  color: #ff0000 !important;
}


.positive-price {
  font-family: 'Share Tech Mono', monospace;
  color: #52ff00 !important;
}

 @media (max-width:768px) {
   
    .gen-coin-info {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      line-height: 35px;
    }
 
  
}
