.main-chart-wrapper {
  padding-top: 25px;
  overflow-x:auto
  
}

.main-chart-wrapper > h1 {
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
}


table, th, td {
 border: 1px solid black;
 border-collapse: collapse;

}
th, td {
 text-align: center;
 font-size: 22px;  
}


#donut-canvas {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}


.coin-dom {
  padding-top:50px;
  padding-bottom: 30px;
}

.timestamp {
  text-align: center;
  color: #f7931a;
  font-family: 'Share Tech Mono', monospace;
  padding-top: 60px;
}

#canvas {
  padding-top: 20px;
  max-height: 60vh;
}
.number {
  font-family: 'Share Tech Mono', monospace;
  color: #ff0000 !important;
}


.positive-price {
  font-family: 'Share Tech Mono', monospace;
  color: #52ff00 !important;
}

 @media (max-width:768px) {
   
 

  
}
