
.parallax-top{
  background-image: url("/assets/images/stock-chart.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  
} 
/* for mobile */
.parallax-top:before {
    background-image: url("/assets/images/stock-chart.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    
  } 

  .parallax-bottom{
    background-image: url("/assets/images/parallax-bottom.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
  } 

.box-page-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
 h1 {
    text-transform: uppercase;
    white-space: nowrap;
}

.box-page-wrapper > .small-box {
    margin-top: 20px;
    border: 3px solid #373737;
    min-height: 30vh;
    width: 40%;
    padding: 20px;
    
}

.box-page-wrapper > .wide-box{
    margin-top: 20px;
    width: 90vw;
    text-align: center;

}

.box-page-wrapper > .cursor {
    cursor: pointer;
}


.market-information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.market-information > div {
    border: 3px solid #373737;
    width: 30%;
    min-height: 30vh;
    padding-top: 30px;
    margin-bottom: 20px;
}

.coin-image > .logo {
    min-width: 50px;
    max-height: 50px;
}

.coin-daily {
    padding: 30px;
}

.price {
    color: #bf0d0d
  }
  .positive-price {
  color: green;
   }

   .portfolio {
      /* background-image: url("");*/
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center;
   }

   .top-news {
       background-image: url("https://lh4.googleusercontent.com/k9axfWBWJjZWauLh8s1R6yf_EW7HP4H9vOg1_f2t145Y0x77gDOBL0N1JbFPPFyd07fVzuE5QbVv4PXBJyxxzQgluh3XDiwezmn-hjBZggEuIrD1j6EvMfX5-XS1CK9l5g1YAy0K");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
   }
   
@media (max-width:768px) {
.box-page-wrapper > .small-box {
    width: 90vw;
    padding-bottom: 50px;
}

.market-information > div {
    width: 90vw;
}

 h1 {
     font-size: 1.6em;
 }
 .coin-image > .logo {
    min-width: 50px;
    max-height: 35px;
}
}