
<div class="parallax-top">
    <div class="Welcome">
      <h5 id="parallax-title"><span>t</span>opical<span>c</span>rypt<span>o</span></h5>
    </div>
  </div>
<div class="platform-feature">
  <h1 id="feature">fea<span>t</span>ure<span>s</span>
  </h1>
</div>
<div class="box-page-wrapper">
  <div class="top-volume small-box cursor" (click)="redirectToVolume()">
    <div class="overlay">
      <div class="text">View Top Gainers</div>
    </div>
  </div>
  <div class="top-coins small-box cursor" (click)="redirectToCoins()">
    <div class="overlay">
      <div class="text">View Top Coins</div>
    </div>
  </div>
  <div class="small-box cursor top-news" (click)="redirectToNews()">
    <div class="overlay">
      <div class="text">Read More</div>
    </div>
  </div>
  <div class="small-box cursor portfolio" (click)="redirectToPortfolio()">
    <div class="overlay">
      <div class="text">Build your portfolio</div>
    </div>
  </div>

  <div class="wide-box">
    <div class="platform-feature">
      <h1 id="feature">
        <span>market</span> informatio<span>n</span>
      </h1>
    </div>
    <div class="market-information">
      <div *ngFor="let coin of coinsToDisplay; let i = index">
        <div class="coin-image">
          <img class="logo" src="/assets/images/{{coinImages[i]}}" alt="coin-logo">
        </div>
        <div class="coin-daily">
          <ng-container *ngIf="coin">
            <h1 class="price" [ngClass]="{'positive-price': coin.positiveChange }">${{coin.price}}</h1>
            <h1 class="price" [ngClass]="{'positive-price': coin.positiveChange }">{{coin.percentage}}%</h1>
            <h1 class="volume-index">${{coin.volume | number : '1.1-1'}}</h1>
          </ng-container>
        </div>
      </div>
    </div>



  </div>
</div>
<div class="indexpage-chart">
  <app-index-coin></app-index-coin>
</div>