


.parallax-top{
  background-image: url("/assets/images/stock-chart.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  
} 
/* for mobile */
.parallax-top:before {
    background-image: url("/assets/images/stock-chart.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    
  } 

  .platform-feature {
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto;
      padding-top: 60px;
      font-size: 2.2em;
      font-family: 'Share Tech', sans-serif;
  }
  #feature > span {
      color: #f7931a !important;
  }

.box-page-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
}
 h1 {
    text-transform: uppercase;
    white-space: nowrap;
}

.box-page-wrapper > .small-box {
    margin-top: 45px;
    height: 35vh;
    width: 46%;
    
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000b0;
  }
  
  .small-box:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 32px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  

.box-page-wrapper > .wide-box{
    width: 90vw;
    text-align: center;

}

.box-page-wrapper > .cursor {
    cursor: pointer;
}


.market-information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.market-information > div {
    border: 3px solid #373737;
    width: 30%;
    min-height: 30vh;
    padding-top: 30px;
    margin-bottom: 20px;
}

.coin-image > .logo {
    min-width: 50px;
    max-height: 50px;
}

.coin-daily {
    padding: 30px;
}





.top-volume {
    background-image: url("assets/images/top-increace-coins-card.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-coins {
    background-image: url("assets/images/top-coins-card.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
   .portfolio {
       background-image: url("assets/images/portfolio-card.png");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
   }

   .top-news {
       background-image: url("assets/images/crytocurrency-news-card.png");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
   }
   
@media (max-width:768px) {
.box-page-wrapper > .small-box {
    width: 90vw;
    height: 40vh;
    padding-bottom: 50px;
}

.market-information > div {
    width: 90vw;
    
}

 h1 {
     font-size: 1.6em;
 }
 .coin-image > .logo {
    min-width: 50px;
    max-height: 45px;
}
#feature {
    font-size: 1em;
}
}
