/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

}


/* ---- typography ---- */

body {
  color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: #191919;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

.price {
  font-family: 'Share Tech Mono', monospace;
  color: #ff0000 !important;
}

.volume-index {
  font-family: 'Share Tech Mono', monospace;
 
}
.positive-price {
  font-family: 'Share Tech Mono', monospace;
  color: #52ff00 !important;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  background: #121212;
}

#site-footer {
  
  background: #121212;
  margin: auto auto 0 auto;
  position:absolute;
  bottom:0;
}

#site-main {
 margin: 0 auto;
   
}

.container {
  
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}


/* button */

.link-btn {
  text-decoration: none;
  border: 3px solid #373737;
  height: 25px;
  background: #191919;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
 
  
}

/* footer */


a {
  text-decoration: none;
  color: #f0f0f0;
}


/* navigation bar */




.nav {
  height: 50px;
  width: 100%;
  background: #121212;
  position: relative;
  z-index: 6;
  display: flex;
  justify-content: space-between;
}

.nav > .nav-header {
  display: inline;
  
}

.nav-title a {
  text-decoration: none;
  color: #f0f0f0;
}
.nav-title a > img {
  max-height: 35px;
  max-width: 70%;
}


.nav-right {
  font-size: 22px;
  padding: 10px 20px 20px 20px;
  text-transform: uppercase;
}

.nav-right > a {
  cursor: pointer;
  text-decoration: none;
  color: #f0f0f0;
 
}
.user-sessions{
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}


.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  color: #f0f0f0;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
}

.nav > .nav-links > a  {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #f0f0f0;
}



.nav > #nav-check {
  display: none;
}

@media (max-width:1015px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #191919;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    
  }
  .nav-right > a {
    text-decoration: none;
    height: 35px;
    background: #191919;
    text-align: center;
    color: #f0f0f0;
    font-weight: 900;
    cursor: pointer;
  }
  .footer-menu > ul {
    display: flex;
    flex-direction: column;
    
  }
  .user-sessions {
    border: none;
  }
  
} 

