#canvas {
  padding:5px;
  max-height: 60vh;
 
}

.global {
  text-align: center;
  text-transform: uppercase;
}


@media (max-width:768px) {
 
 .index-chart-information > div {
   font-size: 12px;
 }
  
}